.App.calc {
  grid-area: calc;
  color: var(--white);
  background-color: var(--grey);
  border: 5px solid var(--grey);
  box-shadow: 0 0 15px var(--grey);

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 2fr repeat(5, 1fr);
  grid-template-areas:
    "scr scr scr scr"
    "clr div mul min"
    "one two three add"
    "four five six add"
    "seven eight nine eql"
    "zero zero dot eql";
}

.one{
  grid-area: one;
}
.two{
  grid-area: two;
}
.three {
  grid-area: three;
}
.four {
  grid-area: four;
}
.five {
  grid-area: five;
}
.six {
  grid-area: six;
}
.seven {
  grid-area: seven;
}
.eight {
  grid-area: eight;
}
.nine {
  grid-area: nine;
}
.zero {
  grid-area: zero;
}
.dot{
  grid-area: dot;
}

.eql{
  grid-area: eql;
}

.clr{
  grid-area: clr;
}