@font-face {
  font-family: 'DS-Digital';
  src:  url('fonts/DS-Digital.woff') format('woff'),
    url('fonts/DS-Digital.svg#DS-Digital') format('svg'),
    url('fonts/DS-Digital.eot'),
    url('fonts/DS-Digital.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.display {
  grid-area: scr;
  font-size: 48px;
  font-family: 'DS-Digital', monospace;
  text-align: right;

  color: var(--grey);
  background-color: var(--llgrey);
  border: 10px solid var(--grey);

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 30% 70%;
}

.display .memory {
  color: var(--lgrey);
}

.display .screen {
  font-size: 1.5em;
}