@font-face {
  font-family: 'DS-Digital';
  src:  url('fonts/DS-Digital.woff') format('woff'),
    url('fonts/DS-Digital.svg#DS-Digital') format('svg'),
    url('fonts/DS-Digital.eot'),
    url('fonts/DS-Digital.eot?#iefix') format('embedded-opentype'); 
  font-weight: normal;
  font-style: normal;
}

.display {
  font-family: 'DS-Digital', monospace;
  font-size: 48px;
}