:root {
  --navy: #001f3f;
  --blue: #0074D9;
  --aqua: #7FDBFF;
  --teal: #39CCCC;
  --olive: #3D9970;
  --green: #2ECC40;
  --lime: #01FF70;
  --yellow: #FFDC00;
  --orange: #FF851B;
  --red: #FF4136;
  --maroon: #85144b;
  --fuchsia: #F012BE;
  --purple: #B10DC9;
  --dark: #111;
  --grey: #333;
  --lgrey: #AAAAAA;
  --llgrey: #DDDDDD;
  --white: #fff;
}

body {
  margin: 0;
  background: url(img/pattern.png) repeat;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-areas:
    ".   .   ."
    ". calcu ."
    ".   .   .";
  grid-template-rows: auto 90vh auto;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
}

.warning {
  display: none;
}

@media (max-width: 359px) {
  #root {
    display: none;
  }
  .warning {
    display: block;
  }
}