:root {
  --grey: #333;
  --white: #fff;
}

body {
  margin: 0;
  background: url(img/pattern.png) repeat;
  
}

#root {
  height: 100vh;
  display: grid;
  grid-template-columns: 1fr 480px 1fr;
  grid-template-rows: 1fr 720px 1fr;
  grid-template-areas:
  ". . ."
  ". calc ."
  ". . .";
}
